<script>
	import { crossfade, fade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	import AddForm from '$lib/components/AddForm.svelte';
	import Detail from '$lib/components/Detail.svelte';
	import Task from '$lib/components/Task.svelte';

	const [send, receive] = crossfade({ fallback: fade });

	let value = '';
	let disabled = false;

	let tasks = [{
		id:1222,
		text:"fdjjfdjfjdj"
	}];

	const onSubmit = (e) => {
		e.preventDefault();
	};

	const onDeleteTask = (detail) => {};

	const onUpdate = (detail) => {};
</script>

<div class="h-screen w-screen bg-[#181820] flex flex-col text-gray-400">
	<Detail />

	<div class="h-full flex-1 relative flex flex-col pb-2 mt-10 overflow-hidden">
		<AddForm bind:value bind:disabled on:submit={onSubmit} />

		<div class="mx-auto rounded-md flex-1 w-[90vw] overflow-auto">
			{#each tasks as task, i (task.id)}
				<div
					animate:flip
					in:receive={{ key: task.id }}
					out:send={{ key: task.id }}
					class="bg-[#21212B] w-full mb-2 p-2 flex justify-between items-center"
				>
					<Task
						{task}
						on:toggle={({ detail }) => onUpdate(detail)}
						on:delete={({ detail }) => onDeleteTask(detail)}
					/>
				</div>
			{/each}
		</div>
		<div />
	</div>
</div>
