<script>
	let value = '';
	let disabled = false;

	export { value, disabled };
</script>

<div class="mx-auto rounded-md w-[90vw] bg-[#21212B] mb-10 relative overflow-hidden">
	<h4 class="text-gray-500 text-center py-0.5">App name</h4>
	<form
		autocomplete="off"
		on:submit
		class="flex overflow-hidden p-2 items-center space-x-2 border-t border-[#D470C1]"
	>
		<input class="w-full bg-transparent outline-none" placeholder="Add a task..." bind:value />
		<button
			type="submit"
			{disabled}
			class:cursor-not-allowed={disabled}
			class="bg-[#D470C1] rounded-lg hover:scale-110"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M12 6v6m0 0v6m0-6h6m-6 0H6"
				/>
			</svg>
		</button>
	</form>
</div>
