<script>
	let balance = '3000';
	let address = 'loading....';

	export { balance, address };
</script>

<div
	class="absolute shadow top-0 bg-[#D470C1] text-gray-200  rounded-br-md p-1 md:flex items-center justify-between"
>
	<span class="pr-1 font-semibold ">{balance}</span><small class="">Matic</small>
</div>

<div
	class="absolute shadow top-0 right-0 bg-[#D470C1] text-gray-200 rounded-bl-md p-1 md:flex items-center justify-between"
>
	<small class="font-semibold">{address}</small>
</div>
