<script>
	import { createEventDispatcher } from 'svelte';

	let dispatch = createEventDispatcher();
	let task = {};

	export { task };

	const onToggle = (id, e) => {
		dispatch('toggle', { id, completed: e.target.checked });
	};
</script>

<label
	><input
		bind:checked={task.completed}
		on:change={(e) => onToggle(task.id, e)}
		type="checkbox"
	/>{task.text}</label
>
<button on:click={() => dispatch('delete', task.id)}>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="h-6 w-6 cursor-pointer hover:scale-110 hover:text-purple-400"
		fill="none"
		viewBox="0 0 24 24"
		stroke="currentColor"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
		/>
	</svg>
</button>
